<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DemoCleaner3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DemoCleaner2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WindowsFormsApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <DemoCleaner3.Properties.Settings>
            <setting name="useSubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="processMdf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splitBySmallFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="maxFiles" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="maxFolders" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="moveOnlyYourTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yourName" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteEmptyDirs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="badDemosOption" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="slowDemosOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cleanOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="demosFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteIdentical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tabSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="countOfBestDemos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="renameOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="renameValidation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="renameFixCreationTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="renameAddSign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveDemoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="badDemoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="slowDemoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="stopOnExceptopn" serializeAs="String">
                <value>False</value>
            </setting>
        </DemoCleaner3.Properties.Settings>
        <DemoCleaner2.Properties.Settings>
            <setting name="useSubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="processMdf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splitBySmallFolders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="maxFiles" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="maxFolders" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="moveOnlyYourTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yourName" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteEmptyDirs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="badDemosOption" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="slowDemosOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cleanOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="demosFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteIdentical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tabSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="countOfBestDemos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="renameOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="renameValidation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="renameFixCreationTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="renameAddSign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="moveDemoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="badDemoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="slowDemoFolder" serializeAs="String">
                <value />
            </setting>
        </DemoCleaner2.Properties.Settings>
        <WindowsFormsApplication1.Properties.Settings>
            <setting name="useSubFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="processMdf" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="splitBySmallFolders" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxFiles" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="maxFolders" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="moveOnlyYourTimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yourName" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteEmptyDirs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="badDemosOption" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="slowDemosOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cleanOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="demosFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="deleteIdentical" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="tabSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </WindowsFormsApplication1.Properties.Settings>
    </userSettings>
</configuration>
